body {
  margin: 0;
  padding: 0;
  font-family: "Pixel", Arial, sans-serif; /* Usa una fuente pixelada si tienes */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: none; /* Deja que el fondo global se encargue */
}

.login-card {
  background-color: #39ff14; /* Verde neón */
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

.login-title {
  font-family: 'Press Start 2P', sans-serif; /* Aplica la fuente pixelada */
  color: #8e44ad; /* Lila */
  font-size: 24px; /* Ajusta según el diseño */
  margin-bottom: 20px;
}

.login-label {
  font-family: 'Press Start 2P', sans-serif; /* Fuente pixelada */
  font-size: 20px; /* Ajusta el tamaño de la etiqueta */
  color: #8e44ad; /* Lila fuerte */
  text-align: center;
  display: block; /* Asegura que esté encima del input */
  margin-bottom: 5px; /* Espacio entre etiqueta y campo */
}

.login-input {
   width: 80%;
    padding: 10px;
    font-family: 'Press Start 2P', sans-serif; /* Fuente pixelada */
    font-size: 14px; /* Tamaño de texto */
    color: #39ff14; /* Verde para el texto */
    background-color: #8e44ad; /* Lila para el fondo */
    border: 2px solid #8e44ad; /* Borde lila */
    margin-bottom: 15px;
    text-align: center;
    font-weight: regular;
    outline: none; /* Elimina el borde azul al hacer clic */
}

.login-button {
  background-color: #9400d3; /* Lila fuerte */
  color: #39ff14; /* verde neón */
   font-family: 'Press Start 2P', sans-serif;
  font-size: 20px; /* Tamaño del texto */
  padding: 10px 20px; /* Tamaño del botón */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s; /* Efecto al pasar por encima */
}

.login-button:hover {
  transform: scale(1.1); /* Efecto de agrandar */
  background-color: #7a00b3; /* Color más oscuro al pasar por encima */
}